a:hover {
    background-color: yellow;
}


h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

h3 {
    text-align: right;
} 

.lab {
    font-family:courier;
}

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900italic);