.version.index /* version checker */
{
	color: #000003;
	background-color: #C83F52;
}

.html
{
	background-color: #FFFFFF;
}

.page_v_align
{
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#page
{
	z-index: 1;
	width: 1000px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u259
{
	z-index: 2;
	width: 1001px;
}

#u89
{
	z-index: 3;
	margin-right: -10000px;
	margin-top: 324px;
	left: 860px;
}

#u94
{
	z-index: 4;
	margin-right: -10000px;
	margin-top: 288px;
}

#u99
{
	z-index: 5;
	margin-right: -10000px;
	margin-top: 473px;
	left: 633px;
}

#u104
{
	z-index: 6;
	margin-right: -10000px;
	margin-top: 646px;
	left: 562px;
}

#u109
{
	z-index: 7;
	margin-right: -10000px;
	margin-top: 560px;
	left: 250px;
}

#u114
{
	z-index: 8;
	margin-right: -10000px;
	left: 658px;
}

#u119
{
	z-index: 9;
	margin-right: -10000px;
	left: 510px;
}

#u124
{
	z-index: 10;
	margin-right: -10000px;
	margin-top: 243px;
}

#u129
{
	z-index: 11;
	margin-right: -10000px;
	left: 266px;
}

#u134
{
	z-index: 12;
	margin-right: -10000px;
}

#u139
{
	z-index: 13;
	margin-right: -10000px;
	left: 416px;
}

#u144
{
	z-index: 14;
	margin-right: -10000px;
}

#u149
{
	z-index: 15;
	margin-right: -10000px;
	margin-top: 113px;
	left: 86px;
}

#u154
{
	z-index: 16;
	margin-right: -10000px;
	margin-top: 126px;
	left: 163px;
}

#u159
{
	z-index: 17;
	margin-right: -10000px;
	margin-top: 344px;
}

#u164
{
	z-index: 18;
	margin-right: -10000px;
	margin-top: 195px;
}

#u169
{
	z-index: 19;
	margin-right: -10000px;
	margin-top: 483px;
	left: 562px;
}

#u174
{
	z-index: 20;
	margin-right: -10000px;
	left: 316px;
}

#u179
{
	z-index: 21;
	margin-right: -10000px;
	margin-top: 41px;
	left: 79px;
}

#u184
{
	z-index: 22;
	margin-right: -10000px;
	margin-top: 263px;
	left: 264px;
}

#u189
{
	z-index: 23;
	margin-right: -10000px;
	margin-top: 276px;
	left: 236px;
}

#u194
{
	z-index: 24;
	margin-right: -10000px;
	margin-top: 177px;
	left: 534px;
}

#u199
{
	z-index: 25;
	margin-right: -10000px;
	margin-top: 215px;
	left: 856px;
}

#u204
{
	z-index: 26;
	margin-right: -10000px;
	margin-top: 263px;
	left: 555px;
}

#u209
{
	z-index: 27;
	margin-right: -10000px;
	margin-top: 314px;
	left: 437px;
}

#u214
{
	z-index: 28;
	margin-right: -10000px;
	margin-top: 166px;
	left: 658px;
}

#u219
{
	z-index: 29;
	margin-right: -10000px;
	margin-top: 209px;
	left: 816px;
}

#u224
{
	z-index: 30;
	margin-right: -10000px;
	margin-top: 196px;
	left: 510px;
}

#u229
{
	z-index: 31;
	margin-right: -10000px;
	margin-top: 127px;
	left: 930px;
}

#u234
{
	z-index: 32;
	margin-right: -10000px;
	margin-top: 338px;
	left: 649px;
}

#u239
{
	z-index: 33;
	margin-right: -10000px;
	margin-top: 532px;
	left: 97px;
}

#u244
{
	z-index: 34;
	margin-right: -10000px;
	margin-top: 554px;
	left: 68px;
}

#u249
{
	z-index: 35;
	margin-right: -10000px;
	margin-top: 713px;
}

#u254
{
	z-index: 36;
	margin-right: -10000px;
	margin-top: 711px;
	left: 491px;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
}

